form.no-input input, form.no-input select, form.no-input textarea{

    background: #FFFFFF !important;
    border: 1px solid #e1e4ed !important;

}

.page-header.navbar .page-logo .logo-default {
    margin: 15px 0 0 0 !important;
}

.portlet>.portlet-title{
    margin-bottom: 0px !important;
}

.change-view-pass{
    cursor: pointer;
}

.box-bnt-filters{
    margin-top: 24px;
}

.border-none{
    border: 1px solid #FFFFFF !important;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.cursor-default {
    cursor: default !important;
}

.label-group{
    padding: 10px;
}

.no-hover{
    pointer-events:none !important;
}

.label-description{
    text-align: right;
}

.label-description-value{

}

.date-query{
    font-size: 13pt;
    font-family: 'Open+Sans', sans-serif;
    letter-spacing: 0.6px;
    padding-top: 18px;
}

.panel-keylogger{
    font-family: Courier;
    height: 600px;
    overflow-y: scroll;
}

.modal-keylogger {
    font-family: Courier;
    height:500px;
    overflow-y: scroll;
}

.fht-table thead th {
    font-weight: bold;
    color: #707070;
}

.tabbable-custom>.nav-tabs>li.active {
    border-top: 3px solid #337ab7 !important;
}

/***
 * LAYOUT PARA DESENHAR COMPONENTES NA TELA
 */

#componente-box{

}

#componente-box-desktop{
    margin: 5px;
    border: 2px solid #4A4A4A;

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    height: 430px;

}

#componente-box-sms{
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: 110px;
    margin-right: 110px;*/
    width: 320px;
    margin-left: 20%;
    border: 2px solid #4A4A4A;

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    height: 430px;

}

#componente-content{
    border: 1px solid #4A4A4A;
    height: 85%;
}

#componente-box-desktop #componente-content{
    border: 1px solid #4A4A4A;
    height: 91%;
}

#componente-box-sms #componente-content{
    font-size: small;
    /*width: 265px;*/
}

#componente-footer{
    padding-top: 8px;
}

#componente-box-sms #componente-footer{
    padding-left: 45%;
}

/***
 * LAYOUT DE COMPONENTES DO UNITS
 */

.panel-padding-custom{
    padding: 20px 15px !important;
}

.units-btn-link-big{
    padding: 20px;
   /* margin-left: 5px !important;*/
}

.has-error-text{
    color: #D43F4A
}

.btn-group-justified > .btn-group{
    padding: 0 5px !important;
}

/***
 * LAYOUT DO LOADER DE TELA INTEIRA
 */

/* Absolute Center Spinner */
.loading-fs {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
/* Transparent Overlay */
.loading-fs:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0,.2);
}

.help-custon{
    padding: 0px !important;
    margin-bottom: -5px !important;
}